#quotesMainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: rgb(99, 172, 172); */
    width: 50%;
    height: 100vh;
    padding: 20px;
    /* box-shadow: 0px 0px 15px 9px black; */
    margin: 10px;
    margin-top: 50px;
    border-radius: 5px;
    box-sizing: border-box;
}
#quotesContent {
    height: 70%;
    width: 100%;
    /* background-color: rgb(116, 80, 150); */
}
#quoteBtnDiv {
    height: 30%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.quoteBtn {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 50%;
}
@media screen and (max-width: 400px) {
    #quotesMainDiv {
       width: 90%; 
    }
}