#signupMainDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#signupFormDiv {
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    width: 50%;
    height: 60%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px 10px rgb(65, 59, 59);
    box-sizing: border-box;
}
#note {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#signupForm {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
}

.inputDiv {
    width: 60%;
    height: 25%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.inputDiv> input:hover {
    box-shadow: 0px 0px 20px 5px gray;
}

#nameDiv > label {
    margin-right: 122px;
}
#emailDiv > label {
    margin-right: 127px;
}
#passwordDiv > label {
    margin-right: 92px;
}
#repasswordDiv > label {
    margin-right: 11px;
}
#passwordDiv > input {
    margin-right: 70px;
}
#passwordDiv > button {
    padding: 5px;
    margin-right: 70px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 20px;
}
#passwordDiv > button:hover {
    color: white;
}
.inputDiv > label {
    font-size: 20px;
}
.inputDiv > input {
    text-align: center;
    font-weight: 500;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
#error {
    color: red;
    margin: 15px 0px;
}

#submitDiv {
    width: 50%;
    height: 100px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#submitDiv >input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px 2px;
    font: 1.3rem sans-serif;
    cursor: pointer;
    width: 100px;
}
#submitDiv >input:hover {
    background-color: grey;
    color: white;
}

@media only screen and (max-width: 400px){
    #signupFormDiv {
        width: 90%;
    } 
    #signupForm {
        align-items: flex-start;
    }
    #signupForm > div {
        width: 100%;
    }
    #usernameDiv > label {
        width: 125px;
        margin-right: 0;
    }
    #signupForm > div#nameDiv > label {
        margin-right: 70px;
    }
    #signupForm > div#emailDiv > label {
        margin-right: 75px;
    }
    #signupForm > div#passwordDiv > label {
        margin-right: 40px;
    }
    #signupForm > div#repasswordDiv > label {
        width: 90px;
        margin-right: 35px;
    }
    #signupForm > div#passwordDiv > input {
        margin-right: 5px;
    }
    #signupForm > div#passwordDiv > button {
        margin-right: 0;
    }
    #signupForm > div#submitDiv {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 135px;
    }
}